<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="PI21_54_DBEntities" connectionString="metadata=res://*/ModelBazaRestorani.csdl|res://*/ModelBazaRestorani.ssdl|res://*/ModelBazaRestorani.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI21-54_DB;persist security info=True;user id=PI21-54_User;password=Z0G}c&amp;[f;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PI21_54_Entities" connectionString="metadata=res://*/ModelBP.csdl|res://*/ModelBP.ssdl|res://*/ModelBP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI21-54_DB;persist security info=True;user id=PI21-54_User;password=Z0G}c&amp;[f;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesReservation" connectionString="metadata=res://*/ModelRezervacije.csdl|res://*/ModelRezervacije.ssdl|res://*/ModelRezervacije.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI21-54_DB;persist security info=True;user id=PI21-54_User;password=Z0G}c&amp;[f;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesRezervacije" connectionString="metadata=res://*/ModelRezervacije.csdl|res://*/ModelRezervacije.ssdl|res://*/ModelRezervacije.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI21-54_DB;persist security info=True;user id=PI21-54_User;password=Z0G}c&amp;[f;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesReservations" connectionString="metadata=res://*/ModelRezervacije.csdl|res://*/ModelRezervacije.ssdl|res://*/ModelRezervacije.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI21-54_DB;persist security info=True;user id=PI21-54_User;password=Z0G}c&amp;[f;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>